@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  .bold-message-about-us {
    width: 90vw;
    height: unset;
    text-align: left;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.5em;
    margin: auto;
    margin-top: 1.5em;
  }

  .about-message {
    width: 90vw;
  }

  .about-main-image-container {
    width: 90vw;
  }

  .the-langved-philosophy-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: auto;
    margin-top: 2em;
  }
  .the-langved-philosophy-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    padding: 0.5em;
  }
  .the-langved-philosophy-images {
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }
  .philosophy-message {
    font-family: Poppins;
    font-size: 0.8em;
  }
  .global-natives-title,
  .our-team-title,
  .our-interns-title {
    font-family: Kanit;
    font-size: 1.2em;
    color: #001436;
  }

  .our-principles-container {
    width: 100vw;
    padding-bottom: 2em;
  }
  .principle-container,
  .member-container,
  .intern-container {
    margin: 0.5em;
  }
  .principle-image,
  .member-image,
  .intern-image {
    width: 70%;
    height: auto;
    object-fit: contain;
  }

  .our-principles-row,
  .our-team-row,
  .our-interns-row {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0;
  }

  .principle-subtitle {
    font-size: 12px;
  }

  .global-natives-message {
    width: 90vw;
    text-align: justify;
  }

  .aditi-message {
    width: 90vw;
  }
}
