@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=Lato&display=swap");

a {
  color: white;
}

body {
  /* background: rgb(232, 255, 255); */
  background-image: linear-gradient(
    0deg,
    rgba(232, 255, 255, 1) 0%,
    rgba(232, 255, 255, 1) 25%,
    rgba(255, 255, 255, 1) 50%,
    rgba(232, 255, 255, 1) 75%,
    rgba(232, 255, 255, 1) 100%
  );
}

.content {
  top: 65vh;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.content-top {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.bold-message {
  width: 70vw;
  height: 25vh;
  margin: auto;
  margin-top: 1em;
  font-family: Kanit;
  font-size: 5.25vw;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: 2.43px;
  text-align: center;
  color: #001436;
}

.message {
  width: 80vw;
  /* height: 84px; */
  margin: auto;
  margin-top: 0.75em;
  padding: 0.75em;
  font-family: Poppins;
  font-size: 0.6em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.63;
  text-align: center;
  color: #000000;
}

.image_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.img_hero {
  margin: auto;
  width: 40%;
  height: 40%;
  z-index: 2;
}

.languages_container {
  margin: auto;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.small-text {
  height: 1.5em;
  margin: auto;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.63;
  letter-spacing: 4.47px;
  text-align: center;
  color: #bcbcbc;
}
.bubble {
  margin: 0.4em;
  padding: 0.4em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.thought-bubbles {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.diwali-anka {
  margin: auto;
  padding: 1em;
}
.row-1,
.row-2 {
  display: flex;
  flex-direction: row;
}

.bubble_img {
  padding: 10px;
  margin: 10px;
}

.img_bubble_German {
  width: 68px;
  height: 72px;
  margin: 0 1px;
  object-fit: contain;
}
.img_bubble_Spanish {
  width: 68px;
  height: 72px;
  margin: 0 1px;
  object-fit: contain;
}
.img_bubble_French {
  width: 68px;
  height: 72px;
  margin: 0 1px;
  object-fit: contain;
}
.img_bubble_English {
  width: 68px;
  height: 72px;
  margin: 0 1px;
  object-fit: contain;
}
.language-courses-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}
.mini-message {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding-top: 6em;
  color: #ff5670;
}
.large-message {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Kanit;
  font-size: 1.8em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  text-align: center;
  color: #000000;
}
.medium-message {
  padding-bottom: 7em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: center;
  color: #000000;
}

.standard-courses-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  margin-bottom: 3em;
}
.standard-courses-image-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}
.standard-courses-content-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 3em;
  width: 50%;
}
.standard-courses-container-large-image {
  justify-content: left;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.standard-courses-container-small-image {
  /* margin: auto; */
  justify-content: left;
  object-fit: contain;
  height: 20%;
  width: 20%;
}
.mini-message-standard-courses {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding-top: 2em;
  color: #26ccc9;
}
.medium-message-standard-courses {
  padding-bottom: 2em;
  font-family: Poppins;
  font-size: 0.57em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: left;
  color: #000000;
}
.large-message-standard-courses {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Kanit;
  font-size: 1.3em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  text-align: left;
  color: #000000;
}
.learn-more-standard-courses {
  width: 25%;
  padding: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  background-color: #000421;
  font-family: Kanit;
  font-size: 0.45em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.57px;
  text-align: center;
}

.refresher-courses-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  margin-bottom: 3em;
}
.refresher-courses-image-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}
.refresher-courses-content-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 3em;
  padding-right: 3em;
  width: 50%;
}
.refresher-courses-container-large-image {
  justify-content: left;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.refresher-courses-container-small-image {
  /* margin: auto; */
  justify-content: left;
  object-fit: contain;
  height: 20%;
  width: 20%;
}
.mini-message-refresher-courses {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding-top: 2em;
  color: #fcb300;
}
.medium-message-refresher-courses {
  padding-bottom: 2em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: left;
  color: #000000;
}
.large-message-refresher-courses {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Kanit;
  font-size: 1.3em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  text-align: left;
  color: #000000;
}
.learn-more-refresher-courses {
  width: 30%;
  padding: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  background-color: #000421;
  font-family: Kanit;
  font-size: 0.45em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.57px;
  text-align: center;
}

.conversation-courses-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  margin-bottom: 3em;
}
.conversation-courses-image-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 50%;
}
.conversation-courses-content-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 3em;
  padding-right: 3em;
  width: 50%;
}
.conversation-courses-container-large-image {
  justify-content: left;
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.conversation-courses-container-small-image {
  /* margin: auto; */
  justify-content: left;
  object-fit: contain;
  height: 20%;
  width: 20%;
}
.mini-message-conversation-courses {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding-top: 2em;
  color: #ff5670;
}
.medium-message-conversation-courses {
  padding-bottom: 2em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: left;
  color: #000000;
}
.large-message-conversation-courses {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Kanit;
  font-size: 1.3em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1em;
  text-align: left;
  color: #000000;
}
.learn-more-conversation-courses {
  width: 20%;
  padding: 0.75em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 2em;
  background-color: #000421;
  font-family: Kanit;
  font-size: 0.45em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.57px;
  text-align: center;
}

.content-middle-1 {
  display: flex;
  flex-direction: column;
  margin: auto;
  z-index: 2;
}

.content-middle-2 {
  width: 80vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.medium-message-our-upcomers,
.medium-message-events-and-activities {
  padding-bottom: 2em;
  margin: 1em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: center;
  color: #000000;
}

.our-upcomers-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.events-and-activities-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.upcomers,
.activities {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: Kanit;
  width: auto;
}
.diwali-anka-container{
  display: flex;
  flex-direction: column;
  width: 85%;
  justify-content: center;
  text-align: center;
  margin: auto;
  font-family: Kanit;
}
.technical-translations,
.lang-travels,
.literature-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 1em;
}

.upcomers-content,
.events-and-activities-content {
  font-size: 0.55em;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: center;
  color: #000000;
}

.upcomers-image-container,
.events-and-activities-image-container {
  object-fit: contain;
}
.icon_cal {
  width: 1.75%;
  height: 1.75%;
  padding: 1em;
}
.events-and-activities-mini-message {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;

  color: #ff5670;
}
.stay-tuned {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-us-content-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 1.5em;
}
.the-langved-story-img {
  padding-top: 4em;
  padding-left: 2em;
}
.top-messsages-about-us {
  padding-top: 10em;
}
.medium-message-about-us {
  padding-bottom: 2em;
  padding-right: 5em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: left;
  color: #000000;
}
.mini-message-langved-story {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  padding-top: 2em;
  color: #26ccc9;
}
.large-message-langved-story {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  font-family: Kanit;
  font-size: 1.4em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.71;
  text-align: left;
  color: #000000;
}
.our-team-container {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}
.message-our-team {
  padding-bottom: 2em;
  padding-top: 2em;
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: center;
  color: #000000;
}

.img_OurTeam {
  object-fit: contain;
  /* height: 100%;
    width: 100%; */
  max-width: 100%;
  height: auto;
}

.our-attributes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.actual-attributes-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: Kanit;
  text-align: center;
  color: #000000;
}

.determined,
.passionate,
.innovative {
  margin: 1em;
  padding: 1em;
}

.our-attributes-message {
  font-family: Poppins;
  font-size: 0.55em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.5;
  text-align: center;
  color: #000000;
}

.testimonials-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 5em;
}

.testimonials-message {
  width: 60%;
  height: 12em;
  margin: 2em;
  background-color: #ffffff;
  box-shadow: 0 17px 52px 0 rgba(0, 0, 0, 0.11);
  border-radius: 5px;
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 2em;
  font-family: Kanit;
  color: #000000;
  font-size: 1em;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

#message {
  margin-bottom: 1em;
}

.testimonials-heading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Kanit;
  text-align: center;
  color: #000000;
  margin: 1em;
  /* width: 50%; */
}

.mini-message-testimonials {
  font-family: Poppins;
  font-size: 0.5em;
  font-stretch: normal;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  padding-top: 2em;
  color: #3c50e0;
}

.testimonial-btns {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  top: 11em;
  right: 4em;
}

.testimonial-arrow {
  margin: 0.5em;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.testimonial-pattern-red {
  position: absolute;
  right: 1em;
  top: 5em;
}

.testimonial-pattern-blue {
  position: absolute;
  left: 10em;
  top: 12em;
}
.testimonial-pattern-teal {
  position: absolute;
  left: 0em;
  top: 10em;
}
