@media screen and (max-width: 480px) {
  * {
    /* border: solid red 1px; */
    box-sizing: border-box;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  body {
    position: static;
    /* border: solid purple 3px; */
  }
  header {
    padding: 0.75em;
    height: 65vh;
    position: relative;
    margin: auto;
    width: 100vw;
    /* border: solid blue 3px; */
  }
  .nav {
    width: 90vw;
    justify-content: left;
    justify-self: left;
    /* margin: 0.75em;
        padding: 0.75; */
    margin-top: 0;
  }
  .nav-item {
    display: none;
  }
  .logo {
    width: 45%;
    height: 45%;
    /* margin-right: 1em; */
  }
  .bold-message {
    width: 90vw;
    height: unset;
    text-align: left;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.5em;
    margin: auto;
    margin-top: 1.5em;
  }
  .content-top {
    position: static;
    margin-top: 60vw;
    width: 90vw;
    /* border: solid red 2px; */
  }
  .image_container {
    align-items: right;
    justify-content: right;
    width: 90vw;
    position: absolute;
    top: 40vh;
    right: 0;
  }

  .img_hero {
    width: auto;
    object-fit: contain;
    position: absolute !important;
    right: 0%;
    margin: auto;
    /* border: solid green 4px; */
  }

  .img_hero {
    width: 100%;
    height: auto;
    z-index: unset;
    object-fit: contain;
    /* margin: auto; */
    /* border: solid green 4px; */
  }
  .content {
    position: static;
    /* border: solid black 4px; */
    /* margin-top: 8em; */
    z-index: unset;
  }

  .message {
    /* margin-top: 12em; */
    font-family: Poppins;
    font-size: 0.6em;
    text-align: left;
    position: relative;
  }

  .thought-bubbles {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column;
  }
  .standard-courses-container,
  .refresher-courses-container,
  .conversation-courses-container,
  .upcomers,
  .activities {
    flex-direction: column;
  }
  .refresher-courses-container {
    align-items: flex-end;
  }
  .standard-courses-image-container,
  .refresher-courses-image-container,
  .conversation-courses-image-container {
    width: 80vw;
  }
  .refresher-courses-image-container {
    justify-content: right;
    /* border: solid red 2px; */
  }
  .standard-courses-content-container,
  .refresher-courses-content-container,
  .conversation-courses-content-container {
    /* margin-left: unset; */
    margin: 2.5vw;
    padding: 2.5vw;
    margin-top: 10vw;
    width: auto;
    /* border: solid red 2px; */
  }
  .learn-more-standard-courses,
  .learn-more-refresher-courses,
  .learn-more-conversation-courses {
    width: 40vw;
  }
  .standard-courses-header,
  .refresher-courses-header,
  .conversation-courses-header {
    display: flex;
    flex-direction: row;
  }
  .standard-courses-title-set,
  .refresher-courses-title-set,
  .conversation-courses-title-set {
    margin-left: 10vw;
  }
  .medium-message-standard-courses,
  .medium-message-refresher-courses,
  .medium-message-conversation-courses {
    font-size: 4vw;
    line-height: normal;
  }
  .medium-message-our-upcomers,
  .medium-message-events-and-activities {
    padding: 10vw;
    font-size: 0.75em;
    font-weight: 600;
  }
  .upcomers-content,
  .events-and-activities-content {
    font-size: 0.8em;
    font-weight: 500;
  }
  .content-middle-2 {
    position: static;
    width: 100vw;
    margin: 0;
    margin-top: 60vw;
  }
  .about-us-content-container {
    justify-content: left;
    /* border: 2px solid red; */
    margin: 0;
    padding-top: 2em;
  }
  .the-langved-story-img {
    padding: 0;
  }
  .top-messsages-about-us {
    text-align: right;
    padding: 1em;
  }
  .mini-message-langved-story {
    font-family: Poppins;
    font-size: 0.7em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #26ccc9;
  }
  .medium-message-about-us {
    font-weight: 600;
    padding: 1em;
  }
  .knowmore-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 80vw;
    margin: 3em;
  }
  .large-message-langved-story {
    text-align: right;
  }
}
