@media screen and (max-width: 480px) {
  * {
    /* border: solid red 1px; */
    box-sizing: border-box;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  body {
    position: static;
    /* border: solid purple 3px; */
  }

  .bold-message {
    width: 90vw;
    height: unset;
    text-align: left;
    font-weight: 700;
    font-size: 8vw;
    line-height: 1.5em;
    margin: auto;
    margin-top: 1.5em;
  }
  .content-top {
    position: static;
    margin-top: 60vw;
    width: 90vw;
    /* border: solid red 2px; */
  }
  .image_container {
    align-items: right;
    justify-content: right;
    width: 90vw;
    position: absolute;
    top: 40vh;
    right: 0;
  }

  /* .img_hero {
    width: auto;
    object-fit: contain;
    position: absolute !important;
    right: 0%;
    margin: auto;
    align-self: center;
  } */

  .img_hero {
    width: 80%;
    height: auto;
    z-index: unset;
    object-fit: contain;
    margin: auto;
    align-self: left;
    /* border: solid green 4px; */
  }

  .content {
    position: static;
    /* border: solid black 4px; */
    /* margin-top: 8em; */
    z-index: unset;
  }

  .message {
    /* margin-top: 12em; */
    width: 90vw;
    font-family: Poppins;
    font-size: 0.9em;
    line-height: normal;
    text-align: left;
    position: relative;
  }

  .thought-bubbles {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .row-1,
  .row-2 {
    display: flex;
    flex-direction: column;
  }
  .medium-message {
    font-size: 0.75em;
    line-height: 2.25em;
    font-weight: 600;
  }
  .standard-courses-container,
  .refresher-courses-container,
  .conversation-courses-container,
  .upcomers,
  .activities {
    flex-direction: column;
  }
  .icon_cal {
    width: unset;
    height: unset;
    padding: 0.15em;
  }

  .refresher-courses-container {
    align-items: flex-end;
  }
  .standard-courses-image-container,
  .refresher-courses-image-container,
  .conversation-courses-image-container {
    width: 80vw;
  }
  .refresher-courses-image-container {
    justify-content: right;
    /* border: solid red 2px; */
  }
  .standard-courses-content-container,
  .refresher-courses-content-container,
  .conversation-courses-content-container {
    /* margin-left: unset; */
    margin: 2.5vw;
    padding: 2.5vw;
    margin-top: 10vw;
    width: auto;
    /* border: solid red 2px; */
  }
  .learn-more-standard-courses,
  .learn-more-refresher-courses,
  .learn-more-conversation-courses {
    width: 40vw;
  }
  .standard-courses-header,
  .refresher-courses-header,
  .conversation-courses-header {
    display: flex !important;
    flex-direction: row;
  }
  .standard-courses-title-set,
  .refresher-courses-title-set,
  .conversation-courses-title-set {
    margin-left: 10vw;
  }
  .medium-message-standard-courses,
  .medium-message-refresher-courses,
  .medium-message-conversation-courses {
    font-size: 4vw;
    line-height: normal;
  }
  .medium-message-our-upcomers,
  .medium-message-events-and-activities {
    padding: 10vw;
    font-size: 0.75em;
    font-weight: 600;
  }
  .upcomers-content,
  .events-and-activities-content {
    font-size: 0.8em;
    font-weight: 500;
  }
  .content-middle-2 {
    position: static;
    width: 100vw;
    margin: 0;
  }
  .about-us-content-container {
    justify-content: left;
    /* border: 2px solid red; */
    margin: 0;
    padding-top: 2em;
  }
  .the-langved-story-img {
    padding: 0;
  }
  .top-messsages-about-us {
    text-align: right;
    padding: 1em;
  }
  .mini-message-langved-story {
    font-family: Poppins;
    font-size: 0.7em;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #26ccc9;
  }
  .medium-message-about-us {
    font-weight: 500;
    font-size: 0.8em;
    padding: 1em;
    line-height: normal;
  }
  .learn-more-standard-courses,
  .learn-more-refresher-courses {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    width: 60vw;
    margin: auto;
    padding: 0.75em;
    font-size: 0.75em;
  }
  .large-message-langved-story {
    text-align: right;
  }
  .our-team-container {
    width: 100vw;
    padding-top: 1em;
  }

  .actual-attributes-container,
  .our-attributes-container {
    /* border: solid blue 3px; */
    width: 100vw;
  }
  .determined,
  .passionate,
  .innovative {
    margin: 0.4em;
    padding: 0.4em;
  }
  .our-attributes-message {
    margin: 1em;
    padding: 1em;
    font-size: 0.75em;
    font-weight: 600;
    line-height: 2em;
  }
  .message-our-team {
    padding: 2em;
    padding-top: 3em;
  }
  .testimonials-container {
    flex-direction: column;
  }
  .testimonials-heading {
    align-items: center;
  }
  .testimonials-message {
    width: 90vw;
    height: auto;
  }
  .testimonial-btns {
    position: static;
  }
  .testimonial-pattern-red {
    position: absolute;
    height: 30%;
    width: auto;
    right: 0.5em;
    top: 17em;
  }

  .testimonial-pattern-blue {
    position: absolute;
    left: 2em;
    top: 21em;
    height: 10%;
    width: auto;
  }
  .testimonial-pattern-teal {
    position: absolute;
    height: 10%;
    width: auto;
    left: 5em;
    top: 20em;
  }
  /* .testimonial-pattern-yellow
  {
      position: absolute;
      right: 1em;
      top: 4em;
  } */
}
