@media screen and (max-width: 480px) {
  * {
    box-sizing: border-box;
  }

  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-right: unset;
    margin: 0;
    padding: 0;
  }
  .intro-image {
    width: 90vw;
    align-self: flex-end;
  }
  .bold-message {
    font-size: 32px;
    font-weight: 700;
    padding-top: 4em;
  }
  .message {
    width: 90vw;
    font-size: 14px;
    padding: 2em;
    padding-top: 4em;
    text-align: center;
  }
  .current-courses-content {
    display: flex;
    flex-direction: column;
    width: 90vw;
    justify-items: center;
  }
  .course-container {
    width: 85vw;
    height: 40%;
    box-shadow: 17px 17px 52px 17px rgba(0, 0, 0, 0.11);
  }
  .course-image {
    align-self: center;
    width: 60%;
  }
  .content-top-2 {
    width: 100%;
    border: solid red 2px;
  }
  .standard-courses-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }
  .standard-courses-top,
  .refresher-courses-top,
  .conversation-courses-top {
    display: flex !important;
    flex-direction: row;
    padding-top: 1em;
  }
  .standard-courses-heading,
  .refresher-courses-heading,
  .conversation-courses-heading {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    padding-left: 0.8em;
  }
  .standard-courses-content,
  .conversation-courses-content {
    padding: 0.5em;
    width: 100%;
  }
  .standard-courses-image {
    width: 90%;
    height: auto;
    align-self: flex-end;
  }
  .medium-message-standard-courses,
  .medium-message-refresher-courses,
  .medium-message-conversation-courses {
    font-size: 14px;
    padding: 1.5em;
  }
  .overview-cards-row-1,
  .overview-cards-row-2 {
    display: flex;
    flex-direction: column;
    width: 75vw;
    margin-left: 1em;
  }
  .overview-container {
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin: 0.8em auto;
    padding-right: 0.6em;
    /* padding: 1em; */
    box-shadow: 17px 17px 52px 17px rgba(0, 0, 0, 0.11);
  }
  .overview-card-image {
    padding-top: 1em;
    align-self: left;
    height: 40%;
  }
  .enroll-now-btn {
    justify-content: center;
    align-content: center;
    margin-left: 6em;
  }
  .refresher-courses-container {
    display: flex;
    flex-direction: column;
  }
  .refresher-courses-image {
    width: 90vw;
    height: auto;
    align-self: flex-start;
  }
  .refresher-courses-content {
    padding-left: 0.2em;
  }
  .refresher-courses-top-image,
  .conversation-courses-top-image {
    width: 40%;
  }
  .large-message-refresher-courses,
  .large-message-conversation-courses {
    font-size: 20px;
    line-height: normal;
  }
  .refresher-courses-cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .refresher-courses-cards-container {
    width: 100%;
    margin: auto;
    
  }
  .enroll-now-btn-2 {
    justify-content: center;
    align-content: center;
    margin-left: 4em;
    width: 50vw;
  }
  .conversation-courses-container {
    display: flex;
    flex-direction: column;
  }
}
